html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul, ol {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
}

a, a:hover {
    text-decoration: none;
    color: #009476;
}

a:hover {
    color: #00b894;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.btn {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    background: transparent;
    white-space: nowrap;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100 * var(--vh, 1vh));
    background: #1abc9c;
}

.header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex: 1;
}

#learn-more-btn {
    padding: 2rem;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#learn-more-btn svg {
    animation: btnAnim 1.2s ease-in-out infinite;
    transform: translateY(-20%);
}

#learn-more-btn:hover svg {
    transform: translateY(-20%);
}

@keyframes btnAnim {
    0% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(20%);
    }
}

footer {
    padding: 1rem 2rem;
    background-color: #c3ece8;
}

footer ul {
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

article {
    margin: 1rem 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
    scroll-margin: 2rem;
}

.title {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.section-title {
    font-weight: bold;
    font-size: x-large;
}

.action-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem .8rem;
    background: linear-gradient(to bottom, #fff, #c3ece8);
    border-radius: .2rem;
    font-weight: bold;
    border: 1px solid #c3ece8;
    font-size: small;
    color: #000;
}

.action-btn:hover {
    color: #000;
    background: linear-gradient(to top, #fff, #c3ece8);
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
